body {
  background: #FAF4E3;
  height: 100%;
}

div#choose {
  background: #FAF4E3;
  height: 100%;
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
  font-family: Georgia, serif;
  font-weight: 500;
}

div#digital {
  display: none;
  height: 100vh;
  background: black;
  position: relative;
}

div.digital-button {
  display: inline;
  position: absolute;
  text-align: center;
  font-size: 4vh;
  width: 40vh;
  top: 50%;
  left: 50%;
  transition: opacity .5s;
  border: solid black 1px;
  border-radius: 3vh;
  padding-top: 0.25vh;
  padding-bottom: 0.25vh;
  font-family: Arial, sans-serif;
  cursor: pointer;
}


div#digital-cancel {
  transform: translate(-20vh, 27vh);
  -webkit-transform: translate(-20vh, 27vh);
  -ms-transform: translate(-20vh, 27vh);
  border: none;
  font-size: 3.8vh;
  opacity: .4;
  color: white;
}

div#digital-cancel.fade {
  opacity: 0;
}

div#digital-pause {
  transform: translate(-20vh, -40vh);
  -webkit-transform: translate(-20vh, -40vh);
  -ms-transform: translate(-20vh, -40vh);
  opacity: .8;
  color: pink;
  border-color: pink;
}

div#digital-pause.fade {
  opacity: 0;
}

div#digital-resume {
  transform: translate(-20vh, -40vh);
  -webkit-transform: translate(-20vh, -40vh);
  -ms-transform: translate(-20vh, -40vh);
  color: forestgreen;
  border-color: forestgreen;
  display: none;
}

div#digital-resume.fade {
  opacity: 0;
}

div#enso {
  display: none;
  height: 100%;
}

div.enso-button {
  display: inline-block;
  position: absolute;
  text-align: center;
  font-size: 4vmin;
  width: 20vmin;
  left: 15vmin;
  /*top: 50%;
  left: 50%;*/
  transition: opacity .5s;
  border: solid black 1px;
  border-radius: 3vmin;
  padding-top: 0.25vmin;
  padding-bottom: 0.25vmin;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

div#enso-cancel {
  /*transform: translate(-10vmin, 18vmin);
  -webkit-transform: translate(-10vmin, 18vmin);
  -ms-transform: translate(-10vh, 18vh);*/
  top: 18vmin;
  border: none;
  font-size: 3.8vmin;
  opacity: .4;
}

div#enso-cancel.fade {
  opacity: 0;
}

div#enso-pause {
  /*transform: translate(-10vmin, -18vmin);
  -webkit-transform: translate(-10vmin, -18vmin);
  -ms-transform: translate(-10vh, -18vh);*/
  top: -18vmin;
  opacity: .8;
  color: pink;
  border-color: pink;
}

div#enso-pause.fade {
  opacity: 0;
}

div#enso-resume {
  /*transform: translate(-10vmin, -18vmin);
  -webkit-transform: translate(-10vmin, -18vmin);
  -ms-transform: translate(-10vh, -18vh);*/
  top: -18vmin;
  opacity: 0.6;
  color: forestgreen;
  border-color: forestgreen;
  display: none;
}

div#enso-resume.fade {
  opacity: 0;
}

div.clear {
  clear: both;
}

div.container {
  text-align: center;
  width: 100%;
  height: 20vmin;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

div.radio-left {
  margin-right: 5vmin;
}

div.radio-left:hover, div.radio-left:active {
  background: white;
}

div.radio-left.selected {
  background: white;
  box-shadow: 0 0 2vmin steelblue;
}

div.radio-right {
  margin: 0;
}


div.radio-right:hover, div.radio-right:active {
  background: black;
}

div.radio-right.selected {
  background: black;
  box-shadow: 0 0 2vmin steelblue;
}

div.radio-right p {
  vertical-align: middle;
  color: lightsteelblue;
  /*color: steelblue;*/
  /*color: rosybrown;*/
  /*color: lightpink;*/
  /*color: goldenrod;*/
  /*color: darkgray;*/
  /*color: darkgoldenrod;*/
  /*color: darkcyan;*/
  /*color: cornflowerblue;*/
  /*color: burlywood;*/
  margin-top: 7vmin;
  font-size: 4vmin;
  font-family: Courier, sans-serif;
}

div#sounds-container {
  margin-top: -2vh;
  margin-bottom: 2vh;
  height: 15vmin;
}

div#sounds-tile {
  height: 15vmin;
  width: 15vmin;
  cursor: initial;
  margin-left: 5.5vmin;
}

div#sounds-tile:hover {
  background: #E3D2A3;
}

label.sound-select:focus {
  background: #E3D2A3;
}

div.tile {
  background: #FAF4E3;
  display: inline-block;
  width: 20vmin;
  height: 20vmin;
  border: 1px solid #666259;
  border-radius: 3.5vmin;
  position: relative;
}

div.tile:hover, div.tile > *:hover{
  cursor: pointer;
}

.face-button {
  z-index: 2;
}

h1 {
  font-size: 12vh;
  text-align: center;
  margin-bottom: 2vh;
  margin-top:1vh;
  /*padding-top: 4vmin;*/
  color: #4D4A44;
  font-weight: 500;
  letter-spacing: 3vmin;
}

input {
  padding: 0;
  margin: 0;
}

input[type="number"] {
  border-style: none;
  font-size: 1.3em;
  width: 2.6em;
  text-align: center;
  background: none;
  color: goldenrod;
  /*color: olivedrab;*/
  /*color: steelblue;*/
  outline: 0;
}

input[type="radio"] {
  display: none;
}

input[type="submit"] {
  display: block;
  background: none;
  border-radius: 3.5vh;
  border-style: solid;
  outline: 0;
  width: 46vmin;
  margin: 2vh auto 0 auto;
  font-size: 6vh;
  letter-spacing: 0.6vmin;
  /*font-family: Arial, sans-serif;*/
  color: #524F47;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background: #E3D2A3;
}

input[type="submit"]:active {
  background: #BFAD7C;
}

input#hours {
  margin-left: 1.25em;
}

input#mins {
  margin-left: 0.54em;
}

input#secs {
  margin-left: 0.53em;
}

input::-moz-focus-inner {
  border: 0;
}

label {
  padding: 0;
  margin: 0;
}

label.center {
  display: block;
  font-size: 4vh;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.8vh;
  width: 9em;
  padding-left: 2em;
  color: #666259;
}

p#digital-time-alert {
  position: absolute;
  text-align: center;
  font-size: 5vh;
  color: white;
  top: 50%;
  left: 50%;
  width: 50vh;
  opacity: 0.5;
  transform: translate(-25vh, -4vh);
  -webkit-transform: translate(-25vh, -4vh);
  -ms-transform: translate(-25vh, -4vh);
  transition: opacity 3s;
  transition-delay: 3s;
}

p#digital-time-alert.fade {
  opacity: 0;
}

p#digital-click-message {
  position: absolute;
  text-align: center;
  font-size: 3.5vh;
  color: white;
  top: 50%;
  left: 50%;
  width: 50vh;
  opacity: 0.5;
  transform: translate(-25vh, 3vh);
  -webkit-transform: translate(-25vh, 3vh);
  -ms-transform: translate(-25vh, 3vh);
  /*setting for when want to clear multiline time message*/
  /*transform: translate(-25vh, 8vh);*/
  /*-ms-transform: translate(-25vh, 8vh);*/
  transition: opacity 3s;
  transition-delay: 3s;
}

p#digital-click-message.fade {
  opacity: 0;
}

p#digits {
  position: absolute;
  text-align: center;
  font-size: 5em;
  font-size: 25vmin;
  width: 95vmin;
  color: steelblue;
  /*color: goldenrod;*/
  /*color: lightsteelblue;*/
  /*color: rosybrown;*/
  /*color: lightpink;*/
  /*color: lavender;*/
  /*color: gainsboro;*/
  /*color: darkgray;*/
  /*color: darkgoldenrod;*/
  /*color: darkcyan;*/
  /*color: cornsilk;*/
  /*color: cornflowerblue;*/
  /*color: burlywood;*/
  /*color: blanchedalmond;*/
  /*color: azure;*/
  /*color: wheat;*/
  top: 22.5%;
  left: 50%;
  transform: translate(-47.5vmin, 0);
  -webkit-transform: translate(-47.5vmin, 0);
  -ms-transform: translate(-47.5vh, 0);
  margin: 0;
}

div.center-marker {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 1px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.messages-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

div.messages-inner-container {
  position: relative;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

p#enso-time-alert {
  /*position: absolute;*/
  text-align: center;
  font-size: 5vmin;
  width: 50vmin;
  padding: 0;
  margin: 0;
  margin-top: 3.5vmin;
  opacity: 0.5;
  /*top: 50%;
  left: 50%;
  width: 50vmin;
  transform: translate(-25vmin, -10vmin);
  -webkit-transform: translate(-25vmin, -10vmin);
  -ms-transform: translate(-25vh, -10vh);*/
  transition: opacity 3s;
  transition-delay: 3s;
}

p#enso-time-alert.fade {
  opacity: 0;
}

p#enso-click-message {
  /*position: absolute;*/
  text-align: center;
  font-size: 3.5vmin;
  width: 50vmin;
  opacity: 0.5;
  margin: 0;
  margin-top: 4vmin;
  /*top: 50%;
  left: 50%;
  width: 50vmin;
  transform: translate(-25vmin, 2vmin);
  -webkit-transform: translate(-25vmin, 2vmin);
  -ms-transform: translate(-25vh, 2vh);*/
  transition: opacity 3s;
  transition-delay: 3s;
}

p#enso-click-message.fade {
  opacity: 0;
}

select {
  width: 2vmin;
  opacity: 0;
  font-size: 4vmin;
  font-family: Georgia, serif;
  background: transparent;
  outline: 0;
  margin-left: 3vmin;
  transform: translate(0, -9vmin);
  -webkit-transform: translate(0, -9vmin);
  -ms-transform: translate(0, -9vh);
  cursor: pointer;
  border: none;

  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}

select:focus {
  width: 48vmin;
  background: #E3D2A3;
  opacity: 1;
}
