/* Sl. Darker blue  #8CB2BF */

div#choose {
  background-color: #FAF4E3;
  /*background: #FDFAF4;*/
  /*background: whitesmoke;*/
  height: 100% !important;
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
  font-family: Georgia, serif;
  font-weight: 500;
}

h1 {
  font-size: 4.5em;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top:0;
  padding-top: 0.5em;
  /*color: lightsteelblue;*/
  color: #4D4A44;
  font-weight: 500;
  letter-spacing: 0.09em;
  /*text-shadow: 1px 1px;*/
}

input {
}

input[type="submit"] {
  display: block;
  font-size: 2em;
  border-radius: 0.65em;
  width: 6em;
  border-style: solid;
  margin: .5em auto 0 auto;
  background: none;
  letter-spacing: 0.07em;
  /*font-family: Arial, sans-serif;*/
  padding: 0.15em;
  outline: 0;
  color: #524F47;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background: #E3D2A3;
}

input[type="submit"]:active {
  /*background: #BFAD7C;*/
  background: #EDD23B;
}

input::-moz-focus-inner {
  border: 0;
}

input[type="number"] {
  border-style: none;
  font-size: 1.3em;
  width: 2.5em;
  text-align: center;
  background: none;
  /*color: olivedrab;*/
  color: goldenrod;
  outline: 0;
}

input[type="text"]:hover {

}

input#hours {
  margin-left: 1.23em;
}

input#mins {
  margin-left: 0.54em;
}

input#secs {
  margin-left: 0.53em;
}

label {
  display: block;
  font-size: 1.5em;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 9em;
  padding-left: 2em;
  color: #666259;
}
